<h1>Eat-le-Burger!</h1>

<h2>Burgers waiting to be devoured</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{burger_name}}
        <button class="eat-burger" data-id="{{this.id}}" data-newdevoured="true">Devour it!</button>
    </li>

    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers eaten up</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        {{burger_name}}
        {{!-- <button class="eat-burger" data-id="{{this.id}}" data-newdevoured="false">Devour it!</button> --}}
    </li>
    {{/if}}
    {{/each}}
</ul>

<h2>Create a burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burgerName">Burger Name:</label>
        <input type="text" id="burgerName" name="name">
    </div>

    <button type="submit">Add Burger</button>
</form>